body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-shadow: 0.1px 0.1px 0px gray,
    -0.1px 0.1px 0px gray,
    -0.1px -0.1px 0px gray,
    0.1px -0.1px 0px gray;
    font-size: 18px;
}

.calculator {
    display: flex;
    flex: 1;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    border: solid #6cb2be ;
    border-radius: 10px;

}

.display {
    display: flex;
    min-width: 300px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    justify-content: flex-end;
    background-color: rgba(128, 128, 128, 0.05) ;

    margin: 2px;
    align-items: flex-end;
}

.keyboard{
    display: flex;
    flex: 1;
    min-height: 250px;
    min-width: 250px;
    align-items: stretch;
    border: solid skyblue 1px;
    
}

.numbers {
    display: flex;
    box-sizing: border-box;
    flex: 50%;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.numbers .num {
    display: flex;
    box-sizing: border-box;
    flex: 30.33%;
    justify-content: center;
    align-items: center;
    border: solid skyblue 0.2px;
    background-color: #E7FAFE;
    border-radius: 5px;
    margin: 1px;


}

.buttons {
    box-sizing: border-box;
    display: flex;
    flex: 50%;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    flex: 35%;
}

.operators .op {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid skyblue 1px;
    background-color: #E7FAFE;
    border-radius: 5px;
    margin: 1px;


}

.extra-buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 65%;
}

.eb {
    display: flex;

    flex: 32%;
    justify-content: center;
    align-items: center;
    border: solid skyblue 1px;
    background-color: #E7FAFE;
    border-radius: 10px;
    margin: 1px;


}